body {
    background-color: white;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    padding-top: 80px;
}
#logo {
    text-align: center;
    /* margin-top: 15px; */
}
.navbar {
    position: fixed;
    top: 0;
    padding: 5px;
    width: 100%;
    background-color: lightcoral;
    display: flex;
    justify-content: left;
    gap: 100px;
    border-bottom: 2px solid black;  
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: rgb(215, 106, 106);
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: lightcoral;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

.logo img {
    height: 50px;
    width: 80px;
    display: block;
}

.nav-links {
    margin-top: 10px;
    display: flex;
    gap: 25px;
}

.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 14px;
  border: none;
  outline: none;
  color: black;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

.nav-links a {
    padding: 8px 14px;
    text-decoration: none;
    color: black;
}

.nav-links a.account{
    float: right;
    color:white;
}

.nav-links a:hover {
    background-color: rgb(215, 106, 106);
    box-sizing: border-box;
}

.searchbar {
    width: 50%;
    float: right;
}

.content {
    flex: 1;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width: 250px;
    transition: 0.3s;
    border-radius: 5px;
    cursor: pointer;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
}

img {
    border-radius: 5px 5px 0 0;
}

.card:hover {
    transform: scale(1.05);
    background-color: white;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.hidden {
    display: none;
}

.container {
    padding: 2px 16px;
}

.footer {
    width: 100%;
    padding: 15px;
    text-align: center;
    background-color: lightcoral;
    position: sticky;
}